<h2>Hola soy la pagina de contacto</h2>
<form class="row g-3">
    <div class="col-md-6">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre">
    </div>
    <div class="col-md-6">
      <label for="Apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="Apellido">
    </div>
    <div class="col-12">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" placeholder="example@email.com">
    </div>
    <div class="col-12">
      <label for="Tel" class="form-label">Tel</label>
      <input type="text" class="form-control" id="Tel" placeholder="...">
    </div>
    <div class="col-md-6">
      <label for="Mensaje" class="form-label">Mensaje</label>
      <textarea class="form-control" id="Mensahje" rows="3"></textarea>
    </div>
   <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>