<h2>Hola soy la pagina de galaeria</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cumque itaque amet repudiandae consequuntur 
eligendi voluptatem recusandae velit corrupti dignissimos soluta ut, quidem odit sunt incidunt sapiente necessitatibus, totam aliquid!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus molestiae, ipsum quisquam, asperiores architecto, 
est fugit pariatur assumenda illo ipsa beatae totam aperiam? In consequatur numquam enim error ullam totam.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eos molestiae porro cumque exercitationem voluptatibus, 
voluptates debitis tempora? Similique minus odit itaque repellat tempora, facere doloribus recusandae excepturi laudantium id!</p>

<p></p>